<!DOCTYPE html>
<html lang="ru">

<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>
    <main class="cart">
        <div class="cart__intro-links">
            <div class="intro-links intro-links--gray">
                <a class="intro-links__link intro-links__link--gray" href="/">Главная</a>
                <img class="intro-links__arrow" src="img/icons/arrow-right-gray.svg" alt="">
                <a class="intro-links__link intro-links__link--gray" href="cart.html">Корзина</a>
            </div>
        </div>
        <div class="cart__body">
            <div class="cart__upper">
                <h2 class="title-left title-left--smaller">Корзина</h2>
                <div class="personal-manager">
                    <p class="personal-manager__text">Ваш личный менеджер Олег</p>
                    <a class="personal-manager__number" href="#">+38 067 777 14 12</a>
                </div>
            </div>
            <div class="cart__orders">
                <table class="cart__orders-table">
                    <thead class="cart__orders-head">
                        <tr class="cart__orders-row">
                            <th class="cart__orders-header">
                                Товар
                                <svg class="cart__orders-arrow" width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                        fill="#8A8A8A" />
                                </svg>

                            </th>
                            <th class="cart__orders-header">
                                Кол - во
                                <svg class="cart__orders-arrow" width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                        fill="#8A8A8A" />
                                </svg>
                            </th>
                            <th class="cart__orders-header">
                                Цена за товар
                                <svg class="cart__orders-arrow" width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                        fill="#8A8A8A" />
                                </svg>
                            </th>
                            <th class="cart__orders-header">
                                Итоговая стоимость
                                <svg class="cart__orders-arrow" width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                        fill="#8A8A8A" />
                                </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="cart__orders-body">
                        <tr class="cart__orders-row">
                            <td class="cart__orders-cell">
                                Орех соленый 80г.
                            </td>
                            <td class="cart__orders-cell">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2.56815 4.99357L6.4 1.22265L5.05478 0L0 4.99357L5.05478 10L6.4 8.77735L2.56815 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>
                                <input class="oreh-inputText cart__input" type="text" name="number1" value="4">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.43185 4.99357L0.6 1.22265L1.94522 0L7 4.99357L1.94522 10L0.6 8.77735L4.43185 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>

                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                            <td class="cart__orders-cell">
                                100 грн.
                            </td>
                        </tr>
                        <tr class="cart__orders-row">
                            <td class="cart__orders-cell">
                                Орех соленый 80г.
                            </td>
                            <td class="cart__orders-cell">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2.56815 4.99357L6.4 1.22265L5.05478 0L0 4.99357L5.05478 10L6.4 8.77735L2.56815 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>
                                <input class="oreh-inputText cart__input" type="text" name="number1" value="1">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.43185 4.99357L0.6 1.22265L1.94522 0L7 4.99357L1.94522 10L0.6 8.77735L4.43185 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>

                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                        </tr>
                        <tr class="cart__orders-row">
                            <td class="cart__orders-cell">
                                Орех соленый 80г.
                            </td>
                            <td class="cart__orders-cell">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2.56815 4.99357L6.4 1.22265L5.05478 0L0 4.99357L5.05478 10L6.4 8.77735L2.56815 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>
                                <input class="oreh-inputText cart__input" type="text" name="number1" value="1">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.43185 4.99357L0.6 1.22265L1.94522 0L7 4.99357L1.94522 10L0.6 8.77735L4.43185 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>

                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                        </tr>
                        <tr class="cart__orders-row">
                            <td class="cart__orders-cell">
                                Орех соленый 80г.
                            </td>
                            <td class="cart__orders-cell">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2.56815 4.99357L6.4 1.22265L5.05478 0L0 4.99357L5.05478 10L6.4 8.77735L2.56815 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>
                                <input class="oreh-inputText cart__input" type="text" name="number1" value="1">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.43185 4.99357L0.6 1.22265L1.94522 0L7 4.99357L1.94522 10L0.6 8.77735L4.43185 4.99357Z"
                                        fill="#8A8A8A" />
                                </svg>

                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                            <td class="cart__orders-cell">
                                25 грн.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart__bottom">
                <div class="cart__bottom-left">
                    <a class="cart__left-btn" href="catalog.html">
                        <svg class="cart__left-btnIcon" width="14" height="12" viewBox="0 0 14 12" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.83332 11.8333L6.65 11.0167L2.21665 6.58333H14V5.41668H2.21665L6.65 0.983329L5.83332 0.166681L0 6L5.83332 11.8333Z" />
                        </svg>
                        Продолжить покупки
                    </a>
                </div>
                <div class="cart__bottom-right">
                    <p class="cart__bottom-price">Всего <span
                            class="cart__bottom-span cart__bottom-span--big">175</span> <span
                            class="cart__bottom-span">грн.</span> </p>
                    <a class="cart__btn" href="checkout.html">Оформить заказ</a>
                </div>
            </div>
            <div class="cart__info">
                <h2 class="cart__info-title">Для оформления заказа необходимо</h2>
                <div class="cart__info-sub">
                    <a class="cart__info-link" href="login.html">Авторизоваться</a>
                    <p class="cart__info-text">или</p>
                    <a class="cart__info-link" href="registration.html">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer footer--dark">
        <div th:replace="~{fragments.html :: footer-top}"></div>
        <div th:replace="~{fragments.html :: footer-mid}"></div>
        <div th:replace="~{fragments.html :: footer-bot}"></div>
    </footer>
</body>

</html>