<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>
    <main class="gallery">
        <section class="intro-card">
            <div class="intro-card__wrap">
                <div class="intro-links">
                    <a class="intro-links__link" href="/">Главная</a>
                    <img class="intro-links__arrow" src="img/icons/arrow-right-white.svg" alt="">
                    <a class="intro-links__link" href="gallery.html">Галерея</a>
                </div>
                <h2 class="intro-card__title">Галерея</h2>
                <p class="intro-card__subtitle">Кадры социальной активности компании</p>
            </div>
        </section>
        <section class="gallery__section">
            <div class="gallery-block">
                <div class="gallery-block__wrap">
    <div class="gallery-block__upper">
        <div class="gallery-block__item gallery-block__2-dudes">
            <img class="gallery-block__2-dudes-img" src="img/main/2-dudes.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
        <div class="gallery-block__item gallery-block__hay">
            <img class="gallery-block__hay-img" src="img/main/hay.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
    </div>
    <div class="gallery-block__middle">
        <div class="gallery-block__item video-wide video-wide--gallery">
            <video class="video-wide__video video-wide__video--gallery" src="#"></video>
            <div class="video-wide__text-wrap video-wide__text-wrap--gallery">
                <div class="play-btn">  
                    <div class="play-btn__outer">
                        <div class="play-btn__inner">
                        </div>
                    </div>
                </div>
                <h2 class="video-wide__title video-wide__title--gallery">Проект UBHDP</h2>
                <p class="video-wide__text video-wide__text--gallery">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и
                    проекту<span class="video-wide__span"> UBHDP </span>за возможность получить консультацию
                    от мировых специалистов!
                </p>
            </div>
        </div>
    </div>
    <div class="gallery-block__bottom">
        <div class="gallery-block__item gallery-block__tractor">
            <img class="gallery-block__tractor-img" src="img/main/tractor-field.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo gallery-block__hover-logo--small" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
        <div class="gallery-block__item gallery-block__greens">
            <img class="gallery-block__greens-img" src="img/main/greens.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo gallery-block__hover-logo--small" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
        <div class="gallery-block__item gallery-block__tulba">
            <div class="gallery-block__tulba-wrap">
                <video class="gallery-block__tulba-video" src="#"></video>
                <div class="gallery-block__tulba-overlay">
                    <div class="play-btn">  
                        <div class="play-btn__outer">
                            <div class="play-btn__inner">
                            </div>
                        </div>
                    </div>
                    <h2 class="gallery-block__tulba-title">Проект UBHDP</h2>
                    <p class="gallery-block__tulba-text">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и
                        проекту<span class="gallery-block__tulba-span"> UBHDP </span>за возможность получить консультацию
                        от мировых специалистов!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
            <div class="gallery-block gallery-block--inverted">
                <div class="gallery-block__wrap">
    <div class="gallery-block__upper">
        <div class="gallery-block__item gallery-block__2-dudes">
            <img class="gallery-block__2-dudes-img" src="img/main/2-dudes.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
        <div class="gallery-block__item gallery-block__hay">
            <img class="gallery-block__hay-img" src="img/main/hay.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
    </div>
    <div class="gallery-block__middle">
        <div class="gallery-block__item video-wide video-wide--gallery">
            <video class="video-wide__video video-wide__video--gallery" src="#"></video>
            <div class="video-wide__text-wrap video-wide__text-wrap--gallery">
                <div class="play-btn">  
                    <div class="play-btn__outer">
                        <div class="play-btn__inner">
                        </div>
                    </div>
                </div>
                <h2 class="video-wide__title video-wide__title--gallery">Проект UBHDP</h2>
                <p class="video-wide__text video-wide__text--gallery">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и
                    проекту<span class="video-wide__span"> UBHDP </span>за возможность получить консультацию
                    от мировых специалистов!
                </p>
            </div>
        </div>
    </div>
    <div class="gallery-block__bottom">
        <div class="gallery-block__item gallery-block__tractor">
            <img class="gallery-block__tractor-img" src="img/main/tractor-field.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo gallery-block__hover-logo--small" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
        <div class="gallery-block__item gallery-block__greens">
            <img class="gallery-block__greens-img" src="img/main/greens.png" alt="">
            <div class="gallery-block__hover">
                <h3 class="gallery-block__hover-title">SIAL Paris 2018</h3>
                <p class="gallery-block__hover-text">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали 
                    на крупнейшей продовольственной выставке Европы <span class="gallery-block__hover-span">SIAL Paris 2018</span></p>
                <img class="gallery-block__hover-logo gallery-block__hover-logo--small" src="img/icons/logo-hover.svg" alt="">
            </div>
        </div>
        <div class="gallery-block__item gallery-block__tulba">
            <div class="gallery-block__tulba-wrap">
                <video class="gallery-block__tulba-video" src="#"></video>
                <div class="gallery-block__tulba-overlay">
                    <div class="play-btn">  
                        <div class="play-btn__outer">
                            <div class="play-btn__inner">
                            </div>
                        </div>
                    </div>
                    <h2 class="gallery-block__tulba-title">Проект UBHDP</h2>
                    <p class="gallery-block__tulba-text">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и
                        проекту<span class="gallery-block__tulba-span"> UBHDP </span>за возможность получить консультацию
                        от мировых специалистов!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>

            <a class="gallery__btn" href="#">Посмотреть еще</a>
        </section>
    </main>
    <footer class="footer footer--dark">
        <div th:replace="~{fragments.html :: footer-top}"></div>
        <div th:replace="~{fragments.html :: footer-mid}"></div>
        <div th:replace="~{fragments.html :: footer-bot}"></div>
    </footer>
</body>
</html>