<!DOCTYPE html>
<html lang="ru">

<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>
    <main class="password">
        <div class="password__intro-links">
            <div class="intro-links intro-links--gray">
                <a class="intro-links__link intro-links__link--gray" href="/">Главная</a>
                <img class="intro-links__arrow" src="img/icons/arrow-right-gray.svg" alt="">
                <a class="intro-links__link intro-links__link--gray" href="password.html">Пароль</a>
            </div>
        </div>
        <div class="password__menu">
            <div class="title-middle">
                <h2 class="title-middle__title title-middle__title--smaller">Пароль</h2>
            </div>
            <form class="password__form">
                <input class="oreh-inputText password__input" type="text" name="current" placeholder="Текущий пароль*">
                <input class="oreh-inputText password__input" type="text" name="new-password" placeholder="Новый пароль*">
                <input class="oreh-inputText password__input" type="text" name="confirm-password" placeholder="Подтвердить пароль*">
            </form>
            <a class="password__btn" href="personal-page.html">Войти</a>
        </div>
    </main>
    <footer class="footer footer--dark">
        <div th:replace="~{fragments.html :: footer-top}"></div>
        <div th:replace="~{fragments.html :: footer-mid}"></div>
        <div th:replace="~{fragments.html :: footer-bot}"></div>
    </footer>
</body>

</html>