<!DOCTYPE html>
<html lang="ru">

<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>
    <main class="password-recovery">
        <div class="password-recovery__intro-links">
            <div class="intro-links intro-links--gray">
                <a class="intro-links__link intro-links__link--gray" href="/">Главная</a>
                <img class="intro-links__arrow" src="img/icons/arrow-right-gray.svg" alt="">
                <a class="intro-links__link intro-links__link--gray" href="password-recovery.html">Восстановление
                    пароля</a>
            </div>
        </div>
        <div class="password-recovery__menu">
            <div class="title-middle">
                <h2 class="title-middle__title title-middle__title--smaller">Восстановление пароля</h2>
            </div>
            <div class="password-recovery__forgot">
                <div class="password-recovery__title">
                    <img class="password-recovery__icon" src="img/icons/lock.svg" alt="">
                    <h3 class="password-recovery__title-text">Забыли пароль?</h3>
                </div>
                <p class="password-recovery__text">Введите Email Вашего аккаунта, Вам будет выслана
                    ссылка для восстановления пароля.
                </p>
                <form class="password-recovery__form">
                    <input class="oreh-inputText password-recovery__input" type="text" name="email*" placeholder="Email*">
                    <input class="password-recovery__submit" type="submit" value="Отправить ссылку">
                </form>
            </div>
            <div class="password-recovery__recovery">
                <div class="password-recovery__title">
                    <img class="password-recovery__icon" src="img/icons/lock-unlocked.svg" alt="">
                    <h3 class="password-recovery__title-text">Восстановление пароля</h3>
                </div>
                <p class="password-recovery__text password-recovery__text--start">Введите новый пароль для Email <span class="password-recovery__span">example@gmail.com</span> 
                </p>
                <form class="password-recovery__form">
                    <input class="oreh-inputText password-recovery__input" type="text" name="new-password" placeholder="Новый пароль*">
                    <input class="oreh-inputText password-recovery__input" type="text" name="confirm-new-password" placeholder="Подтвердите новый пароль*">
                    <input class="password-recovery__submit" type="submit" value="Сменить пароль">
                </form>
            </div>

        </div>
    </main>
    <footer class="footer footer--dark">
        <div th:replace="~{fragments.html :: footer-top}"></div>
        <div th:replace="~{fragments.html :: footer-mid}"></div>
        <div th:replace="~{fragments.html :: footer-bot}"></div>
    </footer>
</body>

</html>