<!DOCTYPE html>
<html lang="ru">

<head th:replace="~{fragments :: head}"></head>

<body>
<header th:replace="~{fragments :: header}"></header>
    <main class="personal-page">
        <div class="personal-page__intro-links">
            <div class="intro-links intro-links--gray">
                <a class="intro-links__link intro-links__link--gray" href="/">Главная</a>
                <img class="intro-links__arrow" src="img/icons/arrow-right-gray.svg" alt="">
                <a class="intro-links__link intro-links__link--gray" href="personal-page.html">Личный кабинет</a>
            </div>
        </div>
        <div class="personal-page__wrapper">
            <div class="personal-page__top">
                <div class="personal-page__top-left">
                    <h2 class="title-left title-left--smaller">Учетная запись</h2>
                    <div class="personal-manager">
                        <p class="personal-manager__text">Ваш личный менеджер Олег</p>
                        <a class="personal-manager__number" href="#">+38 067 777 14 12</a>
                    </div>
                </div>
                <div class="personal-page__discount">Ваша персональная скидка - 5%</div>
            </div>
            <div class="personal-page__bottom">
                <div class="personal-page__left">
                    <ul class="personal-page__list">
                        <h3 class="personal-page__list-title">Мои заказы</h3>
                        <li class="personal-page__list-item" data-value="orders">
                            <p class="personal-page__list-text">История заказов</p>
                        </li>
                        <li class="personal-page__list-item" data-value="transactions">
                            <p class="personal-page__list-text">История транзакций</p>
                        </li>
                    </ul>
                    <ul class="personal-page__list">
                        <h3 class="personal-page__list-title">Моя учетная запись</h3>
                        <li class="personal-page__list-item" data-value="contact">
                            <p class="personal-page__list-text">Контактная информация</p>
                        </li>
                        <li class="personal-page__list-item"><a class="personal-page__list-link"
                                href="password.html">Пароль</a></li>
                        <li class="personal-page__list-item" data-value="address">
                            <p class="personal-page__list-text">Адрес</p>
                        </li>
                    </ul>
                </div>
                <div class="personal-page__right">
                    <div class="personal-page__address personal-page-hide" data-value="address">
                        <div class="personal-page__address-wrapper">
                            <form class="personal-page__address-form">
                                <fieldset class="personal-page__address-field">
                                    <h3 class="personal-page__address-title">1. Реквизиты</h3>
                                    <input class="oreh-inputText personal-page__input" type="text" name="okpo"
                                        placeholder="ОКПО">
                                </fieldset>
                                <fieldset class="personal-page__address-field">
                                    <h3 class="personal-page__address-title">2. Адрес</h3>
                                    <div class="dropdown oreh-dropdown oreh-dropdown--personal-page">
                                        <button class="btn btn-secondary dropdown-toggle oreh-dropdown__btn" type="button"
                                            id="country" data-bs-toggle="dropdown" aria-expanded="false">
                                            Страна
                                        </button>
                                        <ul class="dropdown-menu oreh-dropdown__menu" aria-labelledby="country">
                                            <li class="dropdown-item oreh-dropdown__item">Страна</li>
                                        </ul>
                                    </div>
                                    <div class="dropdown oreh-dropdown oreh-dropdown--personal-page">
                                        <button class="btn btn-secondary dropdown-toggle oreh-dropdown__btn" type="button"
                                            id="region" data-bs-toggle="dropdown" aria-expanded="false">
                                            Область
                                        </button>
                                        <ul class="dropdown-menu oreh-dropdown__menu" aria-labelledby="region">
                                            <li class="dropdown-item oreh-dropdown__item">Область</li>
                                        </ul>
                                    </div>
                                    <input class="oreh-inputText personal-page__input" type="text" name="city"
                                        placeholder="Город*">
                                    <input class="oreh-inputText personal-page__input" type="text" name="address"
                                        placeholder="Адрес">
                                </fieldset>
                                <fieldset class="personal-page__address-field">
                                    <h3 class="personal-page__address-title">2. Юридический адрес</h3>
                                    <div class="dropdown oreh-dropdown oreh-dropdown--personal-page">
                                        <button class="btn btn-secondary dropdown-toggle oreh-dropdown__btn" type="button"
                                            id="country-yur" data-bs-toggle="dropdown" aria-expanded="false">
                                            Страна
                                        </button>
                                        <ul class="dropdown-menu oreh-dropdown__menu" aria-labelledby="country-yur">
                                            <li class="dropdown-item oreh-dropdown__item">Страна</li>
                                        </ul>
                                    </div>
                                    <div class="dropdown oreh-dropdown oreh-dropdown--personal-page">
                                        <button class="btn btn-secondary dropdown-toggle oreh-dropdown__btn" type="button"
                                            id="region-yur" data-bs-toggle="dropdown" aria-expanded="false">
                                            Область
                                        </button>
                                        <ul class="dropdown-menu oreh-dropdown__menu" aria-labelledby="region-yur">
                                            <li class="dropdown-item oreh-dropdown__item">Область</li>
                                        </ul>
                                    </div>
                                    <input class="oreh-inputText personal-page__input" type="text" name="city-yur"
                                        placeholder="Город*">
                                    <input class="oreh-inputText personal-page__input" type="text" name="address-yur"
                                        placeholder="Адрес">
                                    <input class="oreh-inputText personal-page__input" type="text" name="index"
                                        placeholder="Индекс">
                                </fieldset>
                                <input class="personal-page__address-submit" type="submit" value="Сохранить">
                            </form>
                            <div class="personal-page__address-right">
                                <h2 class="personal-page__address-rightTitle">Орех Причерноморья</h2>
                                <p class="personal-page__address-rightText">Единственный в Украине сад совместного
                                    выращивания фундука и грецкого ореха</p>
                            </div>
                        </div>
                    </div>
                    <div class="personal-page__contact personal-page-hide" data-value="contact">
                        <form class="personal-page__contact-form">
                            <div class="personal-page__contact-upper">
                                <fieldset class="personal-page__contact-field">
                                    <input class="oreh-inputText personal-page__input" type="text" name="FIO"
                                        placeholder="ФИО*">
                                    <input class="oreh-inputText personal-page__input" type="text" name="Email"
                                        placeholder="Email*">
                                    <input class="oreh-inputText personal-page__input" type="text" name="number"
                                        placeholder="Телефон*">
                                </fieldset>
                                <div class="personal-page__contact-photo">
                                    <p class="personal-page__contact-text">Изменить фото</p>
                                </div>
                            </div>
                            <input class="personal-page__contact-submit" type="submit" value="Сохранить">
                        </form>
                    </div>
                    <div class="personal-page__orders personal-page-hide" data-value="orders">
                        <table class="personal-page__orders-table">
                            <thead class="personal-page__orders-head">
                                <tr class="personal-page__orders-row">
                                    <th class="personal-page__orders-header">
                                        № Заказа
                                        <svg class="personal-page__orders-arrow" width="10" height="7" viewBox="0 0 10 7"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                fill="#8A8A8A" />
                                        </svg>
    
                                    </th>
                                    <th class="personal-page__orders-header">
                                        Дата
                                        <svg class="personal-page__orders-arrow" width="10" height="7" viewBox="0 0 10 7"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                fill="#8A8A8A" />
                                        </svg>
                                    </th>
                                    <th class="personal-page__orders-header">
                                        Кол - во товаров
                                        <svg class="personal-page__orders-arrow" width="10" height="7" viewBox="0 0 10 7"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                fill="#8A8A8A" />
                                        </svg>
                                    </th>
                                    <th class="personal-page__orders-header">
                                        Статус
                                        <svg class="personal-page__orders-arrow" width="10" height="7" viewBox="0 0 10 7"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                fill="#8A8A8A" />
                                        </svg>
                                    </th>
                                    <th class="personal-page__orders-header">
                                        Стоимость
                                        <svg class="personal-page__orders-arrow" width="10" height="7" viewBox="0 0 10 7"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                fill="#8A8A8A" />
                                        </svg>
                                    </th>
                                    <th class="personal-page__orders-header">
                                        Функции
                                        <svg class="personal-page__orders-arrow" width="10" height="7" viewBox="0 0 10 7"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                fill="#8A8A8A" />
                                        </svg>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="personal-page__orders-body">
                                <tr class="personal-page__orders-row">
                                    <td class="personal-page__orders-cell">
                                        23
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        3.05.2019
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        13
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        Отправлено
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        2500 грн.
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        <a class="personal-page__orders-link" href="order.html">
                                            <svg class="personal-page__orders-eye" width="24" height="24" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M23.8475 12.4668C23.6331 12.7601 18.5245 19.6483 11.9999 19.6483C5.47529 19.6483 0.36647 12.7601 0.152297 12.4671C-0.0507657 12.1888 -0.0507657 11.8114 0.152297 11.5332C0.36647 11.2399 5.47529 4.35165 11.9999 4.35165C18.5245 4.35165 23.6331 11.2399 23.8475 11.533C24.0508 11.8112 24.0508 12.1888 23.8475 12.4668ZM11.9999 5.93406C7.19383 5.93406 3.03127 10.5059 1.79907 12.0005C3.02968 13.4965 7.18352 18.0659 11.9999 18.0659C16.8057 18.0659 20.968 13.4949 22.2007 11.9995C20.9701 10.5036 16.8163 5.93406 11.9999 5.93406Z"/>
                                            <path
                                                d="M11.9992 16.7473C9.38163 16.7473 7.25195 14.6176 7.25195 12C7.25195 9.38238 9.38163 7.2527 11.9992 7.2527C14.6168 7.2527 16.7465 9.38238 16.7465 12C16.7465 14.6176 14.6168 16.7473 11.9992 16.7473ZM11.9992 8.83516C10.2541 8.83516 8.83441 10.2549 8.83441 12C8.83441 13.7451 10.2541 15.1648 11.9992 15.1648C13.7443 15.1648 15.164 13.7451 15.164 12C15.164 10.2549 13.7444 8.83516 11.9992 8.83516Z"/>
                                        </svg>
                                        </a>
                                        <svg class="personal-page__orders-copy" width="16" height="21" viewBox="0 0 16 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 0C0.00513809 0.0974598 0.0102762 0.189791 0.0102762 0.287251C0.0102762 6.25794 0.0102762 12.2235 0.0102762 18.1942C0.0102762 18.2865 0.0102762 18.384 0.0102762 18.502C0.827232 18.502 1.63391 18.502 2.46114 18.502C2.46114 19.3432 2.46114 20.169 2.46114 21C6.9878 21 11.4888 21 16 21C16 14.8447 16 8.6893 16 2.51344C15.1985 2.51344 14.3969 2.51344 13.5645 2.51344C13.5645 1.66195 13.5645 0.830973 13.5645 0C9.04303 0 4.52152 0 0 0ZM1.25883 17.2709C1.25883 11.9157 1.25883 6.58109 1.25883 1.24646C4.95311 1.24646 8.63712 1.24646 12.316 1.24646C12.316 6.59648 12.316 11.926 12.316 17.2709C8.62685 17.2709 4.94798 17.2709 1.25883 17.2709ZM14.772 3.73937C14.772 9.09966 14.772 14.4343 14.772 19.7741C11.0777 19.7741 7.40398 19.7741 3.71997 19.7741C3.71997 19.3534 3.71997 18.938 3.71997 18.502C7.00321 18.502 10.2762 18.502 13.5697 18.502C13.5697 13.5674 13.5697 8.6534 13.5697 3.73937C13.9807 3.73937 14.3712 3.73937 14.772 3.73937Z"/>
                                        </svg>
                                    </td>
                                </tr>
                                <tr class="personal-page__orders-row">
                                    <td class="personal-page__orders-cell">
                                        24
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        10.05.2019
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        15
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        В ожидании 
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        2400 грн.
                                    </td>
                                    <td class="personal-page__orders-cell">
                                        <a class="personal-page__orders-link" href="order.html">
                                            <svg class="personal-page__orders-eye" width="24" height="24" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M23.8475 12.4668C23.6331 12.7601 18.5245 19.6483 11.9999 19.6483C5.47529 19.6483 0.36647 12.7601 0.152297 12.4671C-0.0507657 12.1888 -0.0507657 11.8114 0.152297 11.5332C0.36647 11.2399 5.47529 4.35165 11.9999 4.35165C18.5245 4.35165 23.6331 11.2399 23.8475 11.533C24.0508 11.8112 24.0508 12.1888 23.8475 12.4668ZM11.9999 5.93406C7.19383 5.93406 3.03127 10.5059 1.79907 12.0005C3.02968 13.4965 7.18352 18.0659 11.9999 18.0659C16.8057 18.0659 20.968 13.4949 22.2007 11.9995C20.9701 10.5036 16.8163 5.93406 11.9999 5.93406Z"/>
                                            <path
                                                d="M11.9992 16.7473C9.38163 16.7473 7.25195 14.6176 7.25195 12C7.25195 9.38238 9.38163 7.2527 11.9992 7.2527C14.6168 7.2527 16.7465 9.38238 16.7465 12C16.7465 14.6176 14.6168 16.7473 11.9992 16.7473ZM11.9992 8.83516C10.2541 8.83516 8.83441 10.2549 8.83441 12C8.83441 13.7451 10.2541 15.1648 11.9992 15.1648C13.7443 15.1648 15.164 13.7451 15.164 12C15.164 10.2549 13.7444 8.83516 11.9992 8.83516Z"/>
                                        </svg>
                                        </a>
                                        <svg class="personal-page__orders-copy" width="16" height="21" viewBox="0 0 16 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 0C0.00513809 0.0974598 0.0102762 0.189791 0.0102762 0.287251C0.0102762 6.25794 0.0102762 12.2235 0.0102762 18.1942C0.0102762 18.2865 0.0102762 18.384 0.0102762 18.502C0.827232 18.502 1.63391 18.502 2.46114 18.502C2.46114 19.3432 2.46114 20.169 2.46114 21C6.9878 21 11.4888 21 16 21C16 14.8447 16 8.6893 16 2.51344C15.1985 2.51344 14.3969 2.51344 13.5645 2.51344C13.5645 1.66195 13.5645 0.830973 13.5645 0C9.04303 0 4.52152 0 0 0ZM1.25883 17.2709C1.25883 11.9157 1.25883 6.58109 1.25883 1.24646C4.95311 1.24646 8.63712 1.24646 12.316 1.24646C12.316 6.59648 12.316 11.926 12.316 17.2709C8.62685 17.2709 4.94798 17.2709 1.25883 17.2709ZM14.772 3.73937C14.772 9.09966 14.772 14.4343 14.772 19.7741C11.0777 19.7741 7.40398 19.7741 3.71997 19.7741C3.71997 19.3534 3.71997 18.938 3.71997 18.502C7.00321 18.502 10.2762 18.502 13.5697 18.502C13.5697 13.5674 13.5697 8.6534 13.5697 3.73937C13.9807 3.73937 14.3712 3.73937 14.772 3.73937Z"/>
                                        </svg>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="personal-page__transactions personal-page-hide" data-value="transactions">
                        <div class="personal-page__transactions-wrapper">
                            <table class="personal-page__transactions-table">
                                <thead class="personal-page__transactions-head">
                                    <tr class="personal-page__transactions-row">
                                        <th class="personal-page__transactions-header">
                                            Добавлено
                                            <svg class="personal-page__transactions-arrow" width="10" height="7" viewBox="0 0 10 7"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                    fill="#8A8A8A" />
                                            </svg>
        
                                        </th>
                                        <th class="personal-page__transactions-header">
                                            Статус
                                            <svg class="personal-page__transactions-arrow" width="10" height="7" viewBox="0 0 10 7"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                    fill="#8A8A8A" />
                                            </svg>
                                        </th>
                                        <th class="personal-page__transactions-header">
                                            Сумма
                                            <svg class="personal-page__transactions-arrow" width="10" height="7" viewBox="0 0 10 7"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4.99357 4.43185L1.22265 0.6L0 1.94522L4.99357 7L10 1.94522L8.77735 0.6L4.99357 4.43185Z"
                                                    fill="#8A8A8A" />
                                            </svg>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="personal-page__transactions-body">
                                    <tr class="personal-page__transactions-row">
                                        <td class="personal-page__transactions-cell">
                                            3.05.2019
                                        </td>
                                        <td class="personal-page__transactions-cell">
                                            Платеж принят
                                        </td>
                                        <td class="personal-page__transactions-cell">
                                            2500 грн.
                                            <a class="personal-page__transactions-link" href="order.html">
                                                <svg class="personal-page__transactions-eye" width="24" height="24" viewBox="0 0 24 24"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M23.8475 12.4668C23.6331 12.7601 18.5245 19.6483 11.9999 19.6483C5.47529 19.6483 0.36647 12.7601 0.152297 12.4671C-0.0507657 12.1888 -0.0507657 11.8114 0.152297 11.5332C0.36647 11.2399 5.47529 4.35165 11.9999 4.35165C18.5245 4.35165 23.6331 11.2399 23.8475 11.533C24.0508 11.8112 24.0508 12.1888 23.8475 12.4668ZM11.9999 5.93406C7.19383 5.93406 3.03127 10.5059 1.79907 12.0005C3.02968 13.4965 7.18352 18.0659 11.9999 18.0659C16.8057 18.0659 20.968 13.4949 22.2007 11.9995C20.9701 10.5036 16.8163 5.93406 11.9999 5.93406Z"/>
                                                <path
                                                    d="M11.9992 16.7473C9.38163 16.7473 7.25195 14.6176 7.25195 12C7.25195 9.38238 9.38163 7.2527 11.9992 7.2527C14.6168 7.2527 16.7465 9.38238 16.7465 12C16.7465 14.6176 14.6168 16.7473 11.9992 16.7473ZM11.9992 8.83516C10.2541 8.83516 8.83441 10.2549 8.83441 12C8.83441 13.7451 10.2541 15.1648 11.9992 15.1648C13.7443 15.1648 15.164 13.7451 15.164 12C15.164 10.2549 13.7444 8.83516 11.9992 8.83516Z"/>
                                            </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="personal-page__transactions-row">
                                        <td class="personal-page__transactions-cell">
                                            3.05.2019
                                        </td>
                                        <td class="personal-page__transactions-cell">
                                            Платеж принят
                                        </td>
                                        <td class="personal-page__transactions-cell">
                                            2500 грн.
                                            <a class="personal-page__transactions-link" href="order.html">
                                                <svg class="personal-page__transactions-eye" width="24" height="24" viewBox="0 0 24 24"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M23.8475 12.4668C23.6331 12.7601 18.5245 19.6483 11.9999 19.6483C5.47529 19.6483 0.36647 12.7601 0.152297 12.4671C-0.0507657 12.1888 -0.0507657 11.8114 0.152297 11.5332C0.36647 11.2399 5.47529 4.35165 11.9999 4.35165C18.5245 4.35165 23.6331 11.2399 23.8475 11.533C24.0508 11.8112 24.0508 12.1888 23.8475 12.4668ZM11.9999 5.93406C7.19383 5.93406 3.03127 10.5059 1.79907 12.0005C3.02968 13.4965 7.18352 18.0659 11.9999 18.0659C16.8057 18.0659 20.968 13.4949 22.2007 11.9995C20.9701 10.5036 16.8163 5.93406 11.9999 5.93406Z"/>
                                                <path
                                                    d="M11.9992 16.7473C9.38163 16.7473 7.25195 14.6176 7.25195 12C7.25195 9.38238 9.38163 7.2527 11.9992 7.2527C14.6168 7.2527 16.7465 9.38238 16.7465 12C16.7465 14.6176 14.6168 16.7473 11.9992 16.7473ZM11.9992 8.83516C10.2541 8.83516 8.83441 10.2549 8.83441 12C8.83441 13.7451 10.2541 15.1648 11.9992 15.1648C13.7443 15.1648 15.164 13.7451 15.164 12C15.164 10.2549 13.7444 8.83516 11.9992 8.83516Z"/>
                                            </svg>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="personal-page__transactions-notice">У вас не было транзакций!</p>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer class="footer footer--dark">
        <div th:replace="~{fragments.html :: footer-top}"></div>
        <div th:replace="~{fragments.html :: footer-mid}"></div>
        <div th:replace="~{fragments.html :: footer-bot}"></div>
    </footer>
</body>

</html>